*.pyc
*.swp
.DS_Store
__pycache__
/docs/html
/docs/manual/modules/rst/*
/docs/manual/utils/rst/*
/env
/venv
*~

/modules/blendervr/console/qt/designer/*.py
/modules/blendervr/interactor/designer/*.py
